/proyecto/node_modules
/proyecto/public/hot
/proyecto/public/storage
/proyecto/storage/*.key
/proyecto/vendor
/proyecto/.idea
/proyecto/.vscode
/proyecto/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/proyecto/.env
/logs/access.log
/logs/error.log
.phpintel/
mapfre_cotizador_full.sql
.DS_Store
/proyecto/vendor/
/proyecto/composer.lock
/database_script/mcf.sql